body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px 20px;
}

section h2 {
  margin-top: 0;
}

.container {
  display: flex; /* Make the container a flexbox */
}

.shadowed-div {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}
.div1 {
  flex: 1; /* Allocate space equally to div1 */
  padding: 0 20px 0 20px; /* Add padding for spacing */
  margin-right: 20px; /* Add margin for spacing */
}
.div1 p:hover {
  transition: transform 0.25s ease-in-out; /* Add a transition effect */
  transform: scale(1.025); /* Increase size by 5% on hover */
}

.div2 {
  flex: 0 0 20%; /* Make div2 take up 20% of the container's width */
  display: flex; /* Make div2 a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add border for visualization */
}

.profile-img {
  /* Set the dimensions of the image */
  height: 300px;
  width: auto;
  transition: transform 1s ease-in-out; /* Add a transition effect */
}
.profile-img:hover {
  transform: scale(1.05); /* Increase size by 20% on hover */
}
.project {
  margin-bottom: 20px;
}
#project_title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
